
body { background: lightgray; 
 }

header { background: whitesmoke;
         padding: 60px;
         z-index: -2;
         margin-left: 30px;
         margin-right: 30px;
}



h1 {
   color: black;
   text-align: center;
   font-size: 3.5em;
   font-family: 'Merriweather', serif;
   font-weight: bolder;
   }




h2 {  
   color: black;
   font-family: Arial;
   text-align: center;


 }

	  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: white;
  color: black;
}

.presentacio {
    display: flex;
	flex-wrap: wrap;	
	margin: 1%;
    align-items: center;
    justify-content: center;
}

.presentacio p  { margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 250px;
	margin-right: 130px;
	font-family: sans-serif; 
	text-align: center;
}

.desplegable{
    display: flex;
    flex-wrap: wrap;    
    margin: 1%;
    align-items: center;
    justify-content: center;
}
}
